<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <br />

    <mat-form-field>
        <textarea matInput placeholder="Body" formControlName="body"></textarea>
    </mat-form-field>
    <br />

    <mat-form-field>
        <mat-select placeholder="Category" formControlName="category">
            <mat-option value="Lifestyle">Lifestyle</mat-option>
            <mat-option value="Travel">Travel</mat-option>
            <mat-option value="Video">Video</mat-option>
        </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field>
        <input matInput placeholder="Subject URL" formControlName="subject">
    </mat-form-field>

    <button mat-stroked-button type="submit" (click)="exit()" style="width:100%">Submit</button>
</form>